/* 392px seems to be the minimum width */
html {
  font-size: 16px;
}

.mobile {
  display: none;
}

body {
  font-family: "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  color: #6D6D6D;
  text-align: center;
  margin:0;
  padding:0;
}

a {
  text-decoration: none;
  color: #6D6D6D;
}

a:hover {
  text-decoration: underline;
  color: #363636;
}

h1 {
  width: 100%;
  margin-top: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.15em;
  background-color: rgba(0, 0, 0, 0.2);
}

h2 {
  color: #6D6D6D;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 0.2em;
}

p {
   font-weight: 100;
   letter-spacing: 0.05em;
   line-height: 1.5em;
}

/* Used for 3 column layout */
.column {
  /*padding: 5px, 10px, 5px, 10px;*/
  padding-left: 1%;
  padding-right: 1%;
  width: 31%;
  float: left; 
}

.quote {
  text-transform: lowercase;
  font-style: oblique;
  font-size: 1.1em;
}

/************
 *
 * Banner 
 *
 ************/

#banner {
  overflow: auto;
  background-image: url("../images/banner.jpg");
  background-repeat: no-repeat;
  background-position: top center;

  height: 460px; /* height is photo - padding-top */

  color: rgba(255, 255, 255, 0.6);
}

#banner h2 {
  color: rgba(255, 255, 255, 0.6);
}


/************
 *
 * Navigation
 *
 ************/

#nav {
  /* position: fixed;*/ /* don't start float until everything works */
  width: 100%;
  text-align: center; /* will be inherited by child elements */
  background-color: rgba(255, 255, 255, 1.0); /* pre-emptive as this will be a fixed container later */
  display: inline;
  /* box-shadow: 0 4px 2px -2px gray; */
}

#nav img {
  float: left; /* remove at x width */
  /* actually, clear if #nav ul height > 35px */
  height: 40px;
}

#nav #navlogo {
  margin:0;
}

#nav ul {
  list-style: none; /* remove the bullet points */
  height: auto; /* allows it to expand for smaller displays */
  line-height: 2.5em;
}

#nav ul li {
  display: inline;  /* remove at x width */
  margin-left: 15px;
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.10em;
  white-space: nowrap;

}

#nav ul li a:hover {
  text-decoration: none; /* override for typical hover */
}

/************
 *
 * Footer
 *
 ************/

#footer {
  overflow: auto;
  width: 100%;
  min-height: 180px;
  padding-top: 20px;
  background-color: rgba(38, 38, 38, 0.9);
  color: rgba( 220, 220, 220, 0.8);
  font-size: 0.95em;
}

#footer a {
  color: rgba( 220, 220, 220, 0.8);
  text-decoration: none;
}

#footer a:hover {
  color: rgba( 200, 200, 200, 0.8);
}

#footer p {
  margin: 2% 5%;
  text-align: left;
  font-weight: 200;
  line-height: 95%;
  letter-spacing: 0;
  }

#footer ul {
  padding-left: 5%; /*table padding to match <p> margin */
  text-align: left;
  list-style: none;
  font-weight: 300;
  margin: 2% 0%;
}

#footer header {
  font-weight: 600;
  margin-bottom: 5px;
}

/************* Begin Content *************/
#main-aboutus {
   box-shadow: 0px -2px 15px rgb(220, 250, 185);
   background-color: rgb(220, 250, 185);
   overflow: auto;
   margin-bottom:0px;
   margin-top: 0px;
} 

/************
 *
 * Nehemiah Project
 *
 ************/
#main-nehemiah {
   padding: 20px 5%;
   box-shadow: 0px -2px 15px rgb(220, 250, 185);
   background-color: rgb(220, 250, 185);
} 

#main-nehemiah p {
   text-align: justify;
}

#main-nehemiah img {
   float: right;
   height: 150px;
   margin-left: 15px;
   margin-bottom: 10px;
   border-radius: 1em;
}


/************
 *
 * Program 
 *
 ************/

#main-programs {
  padding-top: 20px; /* will this be common to all? */
  clear: both; /* will this be common to all? */

  width: 100%;
  overflow: auto; /* prevents footer from inching up */
}

/* minimum width 480px */
.program {
   /* gray overlay over photos? */
   background-color: rgba(100,100,100,0.2); 
   text-shadow: 0px 1px #000000;
   
   min-width: 200px;
   min-height: 150px;

   color: rgba(245,245,245, 1);
   
   margin: 2% 3%;
   width: 44%;
   float: left;
   overflow: auto;

   border-radius: 20px;
}

.program:hover {
   background-color: rgba(100,100,100,0.8); 
}

.program h2 {
    /* Assume min-height, and calculate the padding based on this.
     * so 150px height = 75px midline */
    padding: 70px;
  text-transform: uppercase;
  font-size: 2.0em;
  font-weight: 400;
  letter-spacing: 0.2em;
}

.program p {
   margin: 2% 12%;
   text-align: justify;
   font-weight: 200;
}

.program .program-content {
    display: none;
}

/************
 *
 * Location 
 *
 ************/

#main-location {
  overflow: auto; /* This allows us to expand the div container */
  text-align: center;
  padding: 20px 0px;
}

#main-location p {
  margin-top: 5%;
}

/* used for the schedule */
#main-location table {
  margin: 1px auto 0 auto; /* center div */
  font-weight: 100;
  border-spacing: 4px 14px;
  width: 100%;
}

#main-location .table-header {
   text-align: center;
   font-weight: 400;
}


#main-location td {
   letter-spacing: 0.05em;
}

#main-location th {
  font-weight: 100;
  text-align: right;
}

#main-location iframe {
  margin-top: 8%;
  width: 100%;
}

.table-header {
  border-bottom-width: 1px;
  border-bottom: salmon;
  border-bottom-style: solid;
}

/********** Special Announcements Overlay **********/
.activated-overlay {
   position: fixed;
   top: 1%;
   bottom: 0;
   left : 1%;
   right: 1%;
   width: 98%;
   height: 98%;
   background-color: rgba(0,0,0,0.8);
   overflow: auto;
   border-radius: 1em;
   display: none; 
}  

.activated-overlay p {
   padding: 4% 5%;
   margin: 2%;
}  

.warning {
   display: none;
   padding: 2% 2%;
   background-color: rgba(0,0,0,0.8);
   height: 20%;
}


/********** Device Responses ***********/
@media screen and (max-width: 860px) and (min-width: 740px) {
  
  #main-location table {
    margin: 1px auto 0 auto; /* center div */
    position: relative;
    right: 20%;
    width: 280px;
  }
  #main-location th {
    min-width: 170px;
  }
  
  #main-location p {
    width: 90%;
  }
}

@media screen and (max-width: 780px),
only screen and (-webkit-min-device-pixel-ratio : 2),
only screen and (min-device-pixel-ratio : 2) {

  h2 {
    margin-left: 4%;
    margin-right: 4%;
  }
  
  p {
   font-weight: 200;
   letter-spacing: 0.05em;
   line-height: 1.5em;
   margin-left: 4%;
   margin-right: 4%;
  }
  #nav img {
    float: none;
  }

  #nav ul li {
    display: block;
  }
  
  #banner h1 {
    font-size: 2em;
  }
  #banner h2 {
    font-size: 1em;
  }
  
  .column {
    margin-top: 1%;
    width: 98%;
    overflow: auto;
  }
  
  .column iframe {
    width: 100%; /* override to stretch map */
  }
  
  .program {
    width: 94%;
  }
  
  #main-location .table-header {
   text-align: center;
   font-weight: 600;
   border-bottom-width: 1px;
  border-bottom: salmon;
  border-bottom-style: solid;
  }
  
  #main-location table {
    width: 100%;
    font-weight: 200;
    border-spacing: 5px;
  }
  
  #main-location th {
    font-weight: 200;
    width: 50%;
  }
  
}

@media 
only screen and (-webkit-min-device-pixel-ratio : 2),
only screen and (min-device-pixel-ratio : 2) {
  
  body {
    font-size: 3.5em;
  }
  
  h2 {
    font-size: 1.8em;
  }
  
  #banner h1, #banner h2 {
    display: none;
  }
  
  #banner .mobile {
    display: block;
  }
  
  #nav ul li {
    font-weight: 400;
  }
  
  #main-location p {
    font-weight: 400;
  }
  
  #main-location table {
    display: none;
  }
  
  #main-location .mobile {
    display: block;
    width: 100%;   
    border-top-width: 5px;
    border-top: salmon;
    border-top-style: solid;
  }
  
  #main-location iframe {
    height: 400px;
  }
  
  #main-aboutus h2 {
    display: none;
  }
  #main-aboutus .mobile {
    display: block;
    width: 100%;
  }
  
  #main-nehemiah img {
    float: none;
    width: 100%;
    height: 100%;
  }
  
  .program {
    height: auto;
  }
  
  .program-content {
      display: none;
      }
}
